@import '../../../styles/functions';

.pagination {
  display: flex;

  &.disabled {
    pointer-events: none;
    cursor: default;
  }

  .pagi-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3rem;
    cursor: pointer;
    user-select: none;

    &.active {
      color: var-color('main');
      pointer-events: none;
      cursor: default;
    }

    &:hover {
      color: var-color('main');
    }
  }

  &.center {
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
