@import '../../../styles/functions';

.btn {
  &.text {
    padding: 0 !important;
    color: var-color('light');
    background: none !important;
    border: none;
    transition: 0.25s;

    &:hover,
    &.active {
      color: var-color('main');
    }
  }

  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem 0.8rem;
  font-size: 1em;
  line-height: 1;
  color: var-color('btn-text');
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  background-color: var-color('main');
  border: 1px solid var-color('main-light');
  border-radius: 4px;
  outline: none;
  transition: 0.1s;

  &.flat {
    color: var-color('text');
    background-color: transparent;
    border-color: var-color('border');

    &:hover {
      color: var-color('main');
      background-color: transparent;
      border-color: var-color('main');
    }
  }

  &:hover,
  &.disabled {
    background-color: var-color('main-light');
  }

  &.disabled {
    cursor: not-allowed;
  }
}
