.simcom-wrapper {
  /* 文本编辑的一些 */
  --scom-color-border: #c7c7c7;
  --scom-color-bg: #fafafa;

  /* 文本相关 */
  --scom-color-text: #575757;
  --scom-color-text-heavy: #000;
  --scom-color-text-light: #7a7a7a;

  /* hover active 的颜色 */
  --scom-color-hover: #12bfd6;
  --scom-color-hover2: #08b9ff;
  --scom-color-loadmask: rgb(255 255 255 / 70%);
  --scom-border: 1px solid var(--scom-color-border);

  color: var(--scom-color-text);
  position: relative;
  width: 100%;
  overflow: hidden;
  animation: fade-in-up 0.6s 0.1s backwards;

  .color-light {
    color: var(--scom-color-text-light);
  }

  .color-text {
    color: var(--scom-color-text);
  }

  .color-heavy {
    color: var(--scom-color-text-heavy);
  }

  .simcom-texteditor {
    margin-bottom: 2rem;
  }
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}