@import 'functions';

$theme-vars: (
  'main': #048de9,
  'main-light': tint-color(#048de9, 30%),
  'hl-bg': rgba(#048de9, 0.15),
  'textarea-bg': #fafafa,
  'btn-text': #fff,
  'text': #575757,
  'light': #7a7a7a,
  'heavy': #000,
  'border': #e2e2e2,
);

@mixin base-vars($theme) {
  @each $key, $value in $theme {
    #{$color-prefix}-#{$key}: $value;
  }
}



.simcom-wrapper {
  @include base-vars($theme-vars);

  position: relative;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  font-size: 14px;
  color: var-color('text');
  animation: fade-in-up 0.6s 0.1s backwards;

  * {
    box-sizing: border-box;
  }

  .link-btn {
    cursor: pointer;
    opacity: .5;
    transition: all 0.3s;

    &:hover {
      color: var-color('main');
      opacity: 1;
    }
  }

  .color-light {
    color: var-color('light');
  }

  .color-text {
    color: var-color('text');
  }

  .color-heavy {
    color: var-color('heavy');
  }

  .simcom-texteditor {
    margin-bottom: 2em;
  }
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
