@import '../../../styles/functions';

.comment-main {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-bottom: 1rem;
  border-bottom: 1px solid var-color('border');

  .comment-header {
    display: flex;
    justify-content: space-between;
    margin-top: 0.2em;
    color: var-color('heavy');

    .tag {
      padding: 0 5px;
      margin: 3px;
      font-size: 0.75em;
      line-height: 1.8;
      color: var-color('main');
      background: var-color('hl-bg');
      border-radius: 5px;
    }

    > div {
      display: flex;
      align-items: center;
    }
  }

  .comment-extras {
    display: flex;
    margin-bottom: 5px;

    >span {
      padding: 0 5px;
      margin: 3px;
      font-size: .875em;
      line-height: 1.8;
      color: var-color('light');
      border:  1px solid var-color('border');
      border-radius: 5px;
    }
  }


  .comment-content {
    display: flex;
    align-items: center;
    min-height: 3rem;
    padding: 0.5em;
  }

  .comment-child {
    padding: 0;
  }
}

.one-comment {
  display: flex;
  padding: 0.5rem;
}

.color-highlight {
  color: var-color('main');
}

.avatar {
  img {
    width: 2.5rem;
    height: 2.5rem;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTYgMjU2Ij48cGF0aCBmaWxsPSIjYzVjNWM1IiBkPSJNMCAwaDI1NnYyNTZIMHoiLz48Y2lyY2xlIGN4PSIxMjcuNzUiIGN5PSIxMDkuNSIgcj0iNTYuNSIgZmlsbD0iI2ZmZiIvPjxwYXRoIGQ9Ik0yMjcuNTMgMjU2SDI4LjQ3YzMuMTMtNDAuNSAyMS45OC03NS4zMSA0OC45LTk0Ljk2YTMuNzQgMy43NCAwIDAgMSA0LjguMzIgNjUuMzYxIDY1LjM2MSAwIDAgMCA5MS4yMS0uMyAzLjc0MiAzLjc0MiAwIDAgMSA0LjgtLjM1YzI3LjE1IDE5LjU4IDQ2LjIgNTQuNTYgNDkuMzUgOTUuMjl6IiBmaWxsPSIjZmZmIi8+PC9zdmc+');
    background-repeat: no-repeat;
    border-radius: 50%;
    object-fit: cover;
  }

  margin-right: 0.4rem;
}

.light-text {
  font-size: 0.875em;
  opacity: 0.7;
}

.option {
  display: flex;
  align-items: flex-start;

  .light-text {
    margin-right: 0.5em;
    line-height: 1;
  }
}

.one-reply {
  display: flex;
  justify-content: space-between;
  padding: 0.2rem;

  .avatar {
    img {
      width: 2rem;
      height: 2rem;
    }
  }

  .comment-content {
    min-height: 2rem;
    padding-top: 0.3rem;
  }

  .reply-main {
    display: flex;
    flex: 1;
  }

  .option {
    opacity: 0;
    transition: 0.3s;

    &.active {
      opacity: 1;
    }
  }

  &:hover {
    .option {
      opacity: 1;
    }
  }
}

.reply-wrapper {
  position: relative;
  margin-top: 5px;

  &.loading {
    > .one-reply {
      opacity: 0.5;
    }
  }
}

.click-text {
  cursor: pointer;

  &:hover {
    color: var-color('main');
  }
}

.date {
  margin-left: 0.5em;
  font-size: 0.875em;
  opacity: 0.6;
}

.open-wrapper {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;

  &.open {
    max-height: 6rem;
    opacity: 1;
  }
}

.fade-in {
  opacity: 1;
  animation: fadein 0.3s linear;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
