@import '../../../styles/functions';

.one-comment {
  display: flex;
  padding: 0.5rem 1rem 1rem;
}

.comment-main {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-bottom: 1rem;
  border-bottom: 1px dashed var-color('border');

  .comment-header {
    display: flex;
    justify-content: space-between;
    margin-top: 0.4em;
    font-size: 1em;
    color: var-color('heavy');

    > div {
      display: flex;
      align-items: center;
    }
  }

  .comment-content {
    display: flex;
    align-items: center;
    min-height: 3rem;
    padding: 0.5em;
  }

  .comment-child {
    padding: 0;
  }
}

.avatar {
  img {
    width: 3rem;
    height: 3rem;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTYgMjU2Ij48cGF0aCBmaWxsPSIjYzVjNWM1IiBkPSJNMCAwaDI1NnYyNTZIMHoiLz48Y2lyY2xlIGN4PSIxMjcuNzUiIGN5PSIxMDkuNSIgcj0iNTYuNSIgZmlsbD0iI2ZmZiIvPjxwYXRoIGQ9Ik0yMjcuNTMgMjU2SDI4LjQ3YzMuMTMtNDAuNSAyMS45OC03NS4zMSA0OC45LTk0Ljk2YTMuNzQgMy43NCAwIDAgMSA0LjguMzIgNjUuMzYxIDY1LjM2MSAwIDAgMCA5MS4yMS0uMyAzLjc0MiAzLjc0MiAwIDAgMSA0LjgtLjM1YzI3LjE1IDE5LjU4IDQ2LjIgNTQuNTYgNDkuMzUgOTUuMjl6IiBmaWxsPSIjZmZmIi8+PC9zdmc+');
    background-repeat: no-repeat;
    border-radius: 50%;
    object-fit: cover;
  }

  margin-right: 0.4rem;
}

.light-text {
  font-size: 0.85em;
  opacity: 0.7;
}

.option {
  display: flex;
  align-items: flex-start;

  .light-text {
    margin-right: 0.5em;
    line-height: 1;
  }
}

.one-reply {
  display: flex;
  justify-content: space-between;
  padding: 0.2rem;
  font-size: 0.875em;

  .avatar {
    img {
      width: 2rem;
      height: 2rem;
    }
  }

  .comment-content {
    min-height: 2rem;
    padding-top: 0.3rem;
  }

  .reply-main {
    display: flex;
    flex: 1;
  }

  .option {
    opacity: 0;
    transition: 0.3s;

    &.active {
      opacity: 1;
    }
  }

  &:hover {
    .option {
      opacity: 1;
    }
  }
}

.click-text {
  cursor: pointer;

  &:hover {
    color: var-color('main');
  }
}

.date {
  margin-left: 0.5em;
  font-size: 0.6em;
  opacity: 0.6;
}

.open-wrapper {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;

  &.open {
    max-height: 6rem;
    opacity: 1;
  }
}

.fade-in {
  opacity: 1;
  animation: fadein 0.3s linear;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
